<header class="header">
  <div class="col col-3">
    <button mat-button aria-label="Help" tabindex="-1">
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
        <path fill="currentColor" d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z"></path>
      </svg>
    </button>
  </div>
  <div class="col col-3 center title lh">Wordle</div>
  <div class="col col-3 end">
    <span class="pr-default pointer lh" aria-label="Statistics" tabindex="-1">
      <svg class="lh" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
        <path fill="currentColor" d="M16,11V3H8v6H2v12h20V11H16z M10,5h4v14h-4V5z M4,11h4v8H4V11z M20,19h-4v-6h4V19z"></path>
      </svg>
    </span>
    <span class="pr-default pointer lh" (click)="openSettings()" aria-label="Settings" tabindex="-1">
      <svg class="lh" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
        <path fill="currentColor" d="M19.14,12.94c0.04-0.3,0.06-0.61,0.06-0.94c0-0.32-0.02-0.64-0.07-0.94l2.03-1.58c0.18-0.14,0.23-0.41,0.12-0.61 l-1.92-3.32c-0.12-0.22-0.37-0.29-0.59-0.22l-2.39,0.96c-0.5-0.38-1.03-0.7-1.62-0.94L14.4,2.81c-0.04-0.24-0.24-0.41-0.48-0.41 h-3.84c-0.24,0-0.43,0.17-0.47,0.41L9.25,5.35C8.66,5.59,8.12,5.92,7.63,6.29L5.24,5.33c-0.22-0.08-0.47,0-0.59,0.22L2.74,8.87 C2.62,9.08,2.66,9.34,2.86,9.48l2.03,1.58C4.84,11.36,4.8,11.69,4.8,12s0.02,0.64,0.07,0.94l-2.03,1.58 c-0.18,0.14-0.23,0.41-0.12,0.61l1.92,3.32c0.12,0.22,0.37,0.29,0.59,0.22l2.39-0.96c0.5,0.38,1.03,0.7,1.62,0.94l0.36,2.54 c0.05,0.24,0.24,0.41,0.48,0.41h3.84c0.24,0,0.44-0.17,0.47-0.41l0.36-2.54c0.59-0.24,1.13-0.56,1.62-0.94l2.39,0.96 c0.22,0.08,0.47,0,0.59-0.22l1.92-3.32c0.12-0.22,0.07-0.47-0.12-0.61L19.14,12.94z M12,15.6c-1.98,0-3.6-1.62-3.6-3.6 s1.62-3.6,3.6-3.6s3.6,1.62,3.6,3.6S13.98,15.6,12,15.6z"></path>
      </svg>
    </span>
  </div>
</header>
<wordle-game></wordle-game>
<div class="settings-modal-page" #settings>
  <div class="content">
    <header class="page-header">
      <h1>Settings</h1>
      <span mat-button class="close-icon" (click)="closeSettings()">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
          <path fill="currentColor" d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"></path>
        </svg>
      </span>
    </header>
    <div class="content-container">
      <div class="sections">
        <section>
          <div class="setting">
            <div class="text">
              <div class="title">Hard Mode</div>
              <div class="description">Any revealed hints must be used in subsequent guesses</div>
            </div>
            <div class="control">
              <wordle-toggle [disabled]="true"></wordle-toggle>
            </div>
          </div>
          <div class="setting">
            <div class="text">
              <div class="title">Dark Theme</div>
            </div>
            <div class="control">
              <wordle-toggle></wordle-toggle>
            </div>
          </div>
          <div class="setting">
            <div class="text">
              <div class="title">High Contrast Mode</div>
              <div class="description">For improved color vision</div>
            </div>
            <div class="control">
              <wordle-toggle></wordle-toggle>
            </div>
          </div>
        </section>
    
        <section>
          <div class="setting">
            <div class="text">
              <div class="title">Feedback</div>
            </div>
            <div class="control">
              <a href="mailto:toolulopeolagunju@gmail.com?subject=Wordle%20Clone%20Feedback&amp;body=%0D%0A%0D%0A%0A--%0ADevice%20summary%3A%0APage%3A%20%2Fgames%2Fwordle%0APlatform%3A%20Web%20(Desktop)%20%0ABrowser%3A%20Chrome%0AScreen%20Resolution%3A%201366%20x%20768%0AViewport%20Size%3A%20950%20x%20617%0ATimezone%3A%20UTC%2B1%0ABuild%3A%204d41d2be%0A%20%20" title="nytgames@nytimes.com">Email</a>
            </div>
          </div>
          <div class="setting">
            <div class="text">
              <div class="title">Community</div>
            </div>
            <div class="control">
              <a href="https://twitter.com/ToluOlagun01" target="blank" title="@NYTGames">Twitter</a>
            </div>
          </div>
          <div class="setting">
          <div class="text">
            <div class="title">Questions?</div>
          </div>
          <div class="control">
            <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjw7ZGT5432AhXZk_0HHan3ARwQwqsBegQIAxAB&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DdQw4w9WgXcQ&usg=AOvVaw0aHtehaphMhOCAkCydRLZU" target="blank">FAQ</a>
          </div>
        </div>
        </section>
      </div>
      <div class="footnote">
        <div id="copyright">© 2022 The Wordle Clone</div>
        <div>
          <div id="puzzle-number">#246</div>
        </div>
      </div>
    </div>
  </div>
</div>