<div class="tiles-row">
    <div class="tile" [attr.data-state]="'correct'">
        <div class="text"></div>
    </div>
    <div class="tile" [attr.data-state]="'wrong-location'">
        <div class="text">h</div>
    </div>
    <div class="tile" [attr.data-state]="'wrong'">
        <div class="text">o</div>
    </div>
    <div class="tile" [attr.data-state]="'active'">
        <div class="text">s</div>
    </div>
    <div class="tile" [attr.data-state]="'tbd'">
        <div class="text">e</div>
    </div>
</div>